.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100dvh;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
